body {
    background-color: #f7f7f7;
    text-align: center;
}
.side {
    float: center;
    width: 25%;
    box-sizing: border-box;
    display: inline-block;
    font-size: 25px;
    margin-bottom: 15px;
}   
.head {
    font-size: 15px;
    background-color: #4CAF50;
    padding: 15px;
    text-align: center;
    font-family: system-ui;
}
li {
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 1.6;
}
ol, ul {
    margin: 15px;
    margin-bottom: 45px;
    padding-left: 15px;
}
.head2 {
    text-align: left;
}
h2 {
    clear: both;
    text-align: center;
    color: #4CAF50;
    font-family: system-ui;
}
.myths-facts {
    text-align: left;
}
button {
    background-color: #B4B4B4;
    border: inset;
    color: blue;
    border-color: #B4B4B4;
}